[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
marshmallow = "*"
apispec = "*"
apispec-webframeworks = "*"
swagger-ui-py = "*"

[dev-packages]

[requires]
python_version = "3.8"
